.label {
    -fx-font-family: "Monaco";
}
.bordered-pane {
    -fx-border-color: gray;
    -fx-border-radius: 7px;
}
.bordered-pane.out-of-limit{
    -fx-border-color: red;
    -fx-border-width: 2px;
}
.normal {
    -fx-border-radius: 7px;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-background-radius: 7px;
    -fx-text-fill: black;
    -fx-background-color: white;
}
.off {
    -fx-border-radius: 7px;
    -fx-border-width: 3px;
    -fx-border-color: lightgray;
    -fx-background-radius: 7px;
    -fx-text-fill: lightgray;
    -fx-background-color: white;
}
.error{
	-fx-background-radius: 7px;
	-fx-background-color: red;
}
.danger {
    -fx-border-radius: 7px;
    -fx-border-width: 3px;
    -fx-border-color: red;
    -fx-background-radius: 7px;
    -fx-text-fill: red;
    -fx-background-color: white;
}
.danger-plus {
    -fx-border-radius: 7px;
    -fx-border-width: 3px;
    -fx-border-color: red;
    -fx-background-radius: 7px;
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}
.success {
    -fx-border-radius: 7px;
    -fx-border-width: 3px;
    -fx-border-color: green;
    -fx-background-radius: 7px;
    -fx-text-fill: green;
    -fx-background-color: white;
}
.warning {
    -fx-background-color: orange;
    -fx-background-radius: 5px;
    -fx-padding: 0 5px 0 5px;
}
.button-container .label{
	-fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-pref-width: 197;
    -fx-pref-height: 30;
}
.main-layout{
	-fx-alignment: center;
}
.date-label{
	-fx-alignment: center;
    -fx-content_alignment: center;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}
.time-label{
	-fx-alignment: center;
	-fx-content_alignment: center;
    -fx-font-size: 25px;
}
.soft-info .label{
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 14px;
}
.description-label{
	-fx-alignment: center;
	-fx-font-size: 14px;
	-fx-font-weight: 700;
}
.value-label{
	-fx-alignment: center;
	-fx-content_alignment: center;
	-fx-font-size: 35px;
	-fx-font-weight: 200;
}
.value-label.out-of-limit{
	-fx-text-fill: red;
}
.danger-label{
	-fx-alignment: center;
	-fx-content_alignment: center;
	-fx-font-size: 24px;
	-fx-font-weight: 200;
	-fx-background-color: orange;
	-fx-background-radius: 5px;
}
.log-page .info{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}
.log-page .log{
	-fx-font-size: 14px;
}
.log-page{
	-fx-padding: 5px 10px 5px 10px;
}
.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding:  5px 5px 5px 5px;
}
.io-value{
	-fx-alignment: center;
	-fx-content_alignment: center;
    -fx-font-size: 16px;
}
.version{
    -fx-font-size: 11px;
}
.set-time-warning{
    -fx-font-size: 11px;
}
.strong{
    -fx-font-weight: bold;
    -fx-underline: true;
}
.bold{
    -fx-font-weight: bold;
}
.status-page{

}
.status-page-horizontal{
	-fx-background-color: white;
	-fx-padding:  0px -1px 0px 1px;
    -fx-hgap: 0px;
    -fx-vgap: 0px;
}
.status-page .inputs{
	-fx-padding:  10px 0px 0px 50px;
}
.status-page .outputs{
	-fx-padding:  10px 0px 0px 460px;
}
.debug-element .label{
	-fx-font-size: 14px;
}
.debug-element{
	-fx-padding:  0px 5px 0px 5px;
}
.message-pane .label{
	-fx-font-size: 16px;
	-fx-alignment: center;
    -fx-content_alignment: center;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-content-display: center;
}
.info-text{
	-fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-rotate: 0;
}

